[submodule "dwm"]
	path = dwm
	url = git@github.com:NebulaBC/dwm
[submodule "st"]
	path = st
	url = git@github.com:NebulaBC/st
[submodule "dmenu"]
	path = dmenu
	url = git@github.com:NebulaBC/dmenu
[submodule "zara"]
	path = zara
	url = git@github.com:NebulaBC/zara
